<!DOCTYPE html>

<html lang="fr">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/tailwind/tailwind.css" asp-append-version="true" />
    <base href="/" />
    <title>@ViewBag.Title</title>
</head>

<body>

    <div>
        <header>
            <h4>le menu</h4>
        </header>
        @RenderBody()

    </div>
</body>

</html>


@* <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Je suis ici</h2>
</body>

</html> *@