<!DOCTYPE html>

<html lang="fr">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/tailwind/tailwind.css" asp-append-version="true" />
    <base href="/" />
    <title>@ViewBag.Title</title>
</head>

<body>
    <!-- NavBar -->
    <header>
        <nav class="relative container mx-auto p-6 bg-rebeccapurple ">
            <div class="flex items-center justify-between">
                <!-- Logo -->
                <div class="pt-2">
                    <img src="img/logo.svg" alt="" />
                </div>
                <!-- Menu Items -->
                <div class="hidden md:flex space-x-6 ">
                    <a href="#" class="hover:text-darkGrayishBlue">Home</a>
                    <a href="" class="hover:text-darkGrayishBlue">Product</a>
                </div>

                <!-- Button -->
                <!-- <div class="hidden md:flex items-center space-x-4"> -->
                <a href=""
                   class="hidden md:block bg-brightRed text-white px-6 py-3 baseline rounded-full hover:bg-opacity-75">
                    connect
                </a>
                <!-- </div> -->
        </nav>
    </header>
    <div class="container">

        @RenderBody()

    </div>
</body>

</html>

